<!DOCTYPE html>
<html>
<body>

<h3>Update details</h3>

<div>
  <form action="" method="post">

      <label>employeeid</label>
    <input type="text" name="employeeid"  value="{{datas.EMPID}}" placeholder="Your name.." required>
 <label>salary</label>
    <input type="text" name="salary" value="{{datas.SALARY}}" placeholder="Your Address.." required>
<label>month</label>
    <input type="text" name="month" value="{{datas.MONTH}}" placeholder="Your Gender.." required>
	  <input type='submit' value='Update Details'>


  </form>
</div>

</body>
</html>