<html>
	<head>
		<title>employee</title>
		<link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">
	</head>

	<body>
	<h1>Add New User Details</h1>
		<form action='' method='post'>
			<br>Name:<input type="text" name="name" required></br>
	        <br>Address:<input type="text" name="address" required></br>
	        <br>Gender: <input type="text" name="gender" required></br>
			<br>Joined Date:<input type="text" name="joineddate" required></br>
			<br><input type='submit' value='save Details'></br>

		</form>
	</body>
</html>