<!DOCTYPE html>
<html>
<head>
        <meta charset="UTF-8">
        <title>employee register</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
	    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
	</head>
	<body style="background: linear-gradient(to bottom, #ffccff 11%, #ffffff 70%)">
		<h1>Employee CRUD Application</h1>



<div class="container">
    <div class="text-center col-md-16">
        <div class="jumbotron" style="background:linear-gradient(to bottom, #4568DC, #B06AB3 100%);">




            <h1 class="display-4"><b>EMPLOYEE REGISTRATION DETAILS</b></h1>

             <p class="lead font-italic">Flask project</p>
             <hr class="my-4">

<h3>Update details</h3>

<div>
    <p><a href="{{url_for('addsalary')}}" >addsalary</a></p>
<table class="table">
    <tr>
        <th>ID</th>
        <th>EMPID</th>
        <th>SALARY</th>
        <th>MONTH</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    {% for data in value %}
    <tr>
        <td>{{data.ID}}</td>
        <td>{{data.EMPID}}</td>
        <td>{{data.SALARY}}</td>
        <td>{{data.MONTH}}</td>
        <td><a href="{{url_for('editsal',id=data.ID)}}"class="btn btn-primary">Edit</a></td>
        <td><a onclick="return confirm('Are you sure to delete?');" href="{{url_for('deletesal',id=data.ID)}}"class="btn btn-primary">Delete</a></td>



    </tr>


    {% endfor %}
</table>

</div>
        </div>

    </div></div>
</body>
</html>