<html>
	<head>
		<title>Employee Register</title>

	</head>
	<body>
	<h1>Update User Details</h1>
		<form action='' method='post'>

			Name:<input type="text" name="name" value="{{datas.NAME}}" required></br>
			<br>Address:<input type="text" name="address" value="{{datas.ADDRESS}}" required></br>
	        <br>Gender:<input type="text" name="gender" value="{{datas.GENDER}}" required></br>
			<br>Joined Date:<input type="text" name="joineddate" value="{{datas.JOINEDDATE}}" required></br>
			<br><input type='submit' value='Update Details'></br>
		</form>
	</body>
</html>